<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Se1753net_gr2_onlineshoes"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.admin_activities.AdminAddUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.admin_activities.AdminUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.admin_activities.AdminUserListActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.marketing_activities.MarketingSliderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.marketing_activities.MarketingSliderImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.marketing_activities.MarketingSliderListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.marketing_activities.MarketingProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActitivty"
            android:exported="false" /> <!-- Marketing Activities -->
        <activity
            android:name=".ui.activities.marketing_activities.MarketingAnalyticActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.marketing_activities.MarketingDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Se1753net_gr2_onlineshoes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.marketing_activities.MarketingProductListActivity"
            android:exported="false" /> <!-- User Authentication and Profile Activities -->
        <activity
            android:name=".activity.activity_edit_profile"
            android:exported="false" />
        <activity
            android:name=".activity.activity_change_password"
            android:exported="false" />
        <activity
            android:name=".activity.activity_reset_password"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="reset-password"
                    android:scheme="se1753net_gr2_onlineshoes" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.sale_activities.OrderListActivity" />
        <activity android:name=".ui.activities.sale_activities.OrderDetailsActivity" />
        <activity
            android:name=".activity.activity_forgot_password"
            android:exported="false" />
        <activity
            android:name=".activity.activity_register"
            android:exported="false" />
        <activity
            android:name=".activity.activity_login"
            android:exported="true" /> <!-- Sales Activities -->
            android:exported="true" /> <!-- Sales Activities -->
        <activity
            android:name=".ui.activities.sale_activities.SaleDashboardActivity"
            android:exported="true" />
            android:exported="true" />
    </application>

</manifest>