<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Se1753net_gr2_onlineshoes"
        tools:targetApi="31">
         <!-- Marketing Activities -->
        <activity
            android:name=".ui.activities.marketing_activities.MarketingDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Se1753net_gr2_onlineshoes" />
        <activity
            android:name=".ui.activities.marketing_activities.MarketingProductListActivity"
            android:exported="false" />

        <!-- User Authentication and Profile Activities -->
        <activity
            android:name=".activity.activity_edit_profile"
            android:exported="false" />
        <activity
            android:name=".activity.activity_change_password"
            android:exported="false" />
        <activity android:name=".activity.activity_reset_password"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="se1753net_gr2_onlineshoes" android:host="reset-password" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.activity_forgot_password"
            android:exported="false" />
        <activity
            android:name=".activity.activity_register"
            android:exported="false" />
        <activity
            android:name=".activity.activity_login"
            android:exported="false" />


<!--         Main Activity -->

        <activity
            android:name=".ui.activities.sale_activities.SaleDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".activity.activity_login"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>


</manifest>